@charset "UTF-8";

#mainNav2 {
	-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	background-color: #fff;
	-webkit-transition: background-color 0.2s ease;
	transition: background-color 0.2s ease;
}

#mainNav2 .navbar-brand {
	font-weight: 700;
	color: #212529;
}

#mainNav2 .navbar-nav .nav-item .nav-link {
	font-weight: 700;
}

#mainNav2 .navbar-nav .nav-item .nav-link span:hover, #mainNav .navbar-nav .nav-item .nav-link:active span {
	border-bottom: 2px solid #6392a5;
	padding-bottom: 4px;
}

#mainNav2 .navbar-nav .nav-item .nav-link.active span {
	border-bottom: 2px solid #6392a5;
	padding-bottom: 4px;
}

@media ( min-width : 992px) {
	#mainNav2 {
		-webkit-box-shadow: none;
		box-shadow: none;
		background-color: transparent;
	}
	#mainNav2 .navbar-brand {
		color: #000;
	}
	#mainNav2 .navbar-nav .nav-item .nav-link {
		color: rgba(0, 0, 0);
		padding: 0 1rem;
	}
	#mainNav2 .navbar-nav .nav-item:last-child .nav-link {
		padding-right: 0;
	}
	#mainNav2.navbar-scrolled {
		-webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		background-color: #fff;
	}
	#mainNav2.navbar-scrolled .navbar-brand {
		color: #212529;
	}
	#mainNav2.navbar-scrolled .navbar-brand:hover {
		border-bottom: 2px solid #6392a5;
		padding-bottom: 4px;
	}
	#mainNav2.navbar-scrolled .navbar-nav .nav-item .nav-link {
		color: #212529;
	}
	#mainNav2.navbar-scrolled .navbar-nav .nav-item .nav-link span:hover {
		border-bottom: 2px solid #6392a5;
		padding-bottom: 4px;
	}
}
