@charset "UTF-8";

.grey-light-bg {
	background-color: #eee;
}

.relative {
	position: relative;
}

.page-title-small {
	padding-top: 118px;
	padding-bottom: 58px;
}

.page-title-cont {
	padding-top: 135px;
	padding-bottom: 65px;
}

.page-title-small .page-title {
	margin-top: 40px;
	margin-bottom: 10px;
}

.page-title {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 25px;
	letter-spacing: 5px;
	font-weight: 400;
}

.page-title-small .breadcrumbs {
	margin-top: 40px;
}

.breadcrumbs {
	margin-top: 53px;
	text-align: right;
	font-size: 11px;
	letter-spacing: 2px;
}

.slash-divider {
	margin-right: 7px;
	margin-left: 7px;
}

.bread-current, .breadcrumbs a:hover {
	color: #101010;
}
